/* ---------
fonts
------------ */
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;600;700&family=Poppins:wght@300;400;500;600;700&family=Ubuntu:wght@400;500;700&display=swap');
/* ---------
global style
------------ */
/* define custom css variables */
:root {
    --bg-black-900: #ffff;
    --bg-black-100: #353535;
    --bg-black-50: #2b2c2f;
    --bg-opacity: rgba(43, 44, 47, 0.5);
    --text-yellow-600: #FDBB2F;
    --text-black-900: #ffff;
    --text-black-700: #ffff;
    --text-black-600: #bbbbbb;
    --outer-shadow: 2px 2px 2px #222327, -2px -2px 2px #363636;
    --outer-shadow-0: 0 0 0 #222327, 0 0 0 #363636;
    --inner-shadow: inset 2px 2px 2px #222327, inset -2px -2px 2px #363636;
    --inner-shadow-0: inset 0 0 0 #222327, inset 0 0 0 #363636;
}
/* ovveride custom css variables for dark theme */


body {
    font-size: 16px;
    line-height: 1.5;
    overflow-x: hidden;
    background-color: var(--bg-black-50);

}

body.hidden-scrolling {
    overflow-y: hidden;
}

*:not(i) {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;

}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

img {
    vertical-align: middle;
    max-width: 100%;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    margin: auto;
}

.row {
    display: flex;
    flex-wrap: wrap;

}

.justyfy-content-between {
    justify-content: space-between;
}

.outer-shadow {
    box-shadow: var(--outer-shadow);
}

.hover-in-shadow {
    position: relative;
    z-index: 1;
    box-shadow: var(--outer-shadow);
}

.hover-in-shadow:hover {
    box-shadow: var(--outer-shadow-0);
}

.inner-shadow {
    box-shadow: var(--inner-shadow);
}

.hover-in-shadow:after {
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    transition: all 0.3s ease;
    z-index: -1;

}

.hover-in-shadow:hover:after {
    box-shadow: var(--inner-shadow);
}

.align-items-center {
    align-items: center;
}

.btn-1 {
    padding: 10px 25px;
    font-size: 16px;
    font-weight: 700;
    color: var(--skin-color);
    background-color: transparent;
    line-height: 1.5;
    cursor: pointer;
    border-radius: 30px;
    transition: all 0.3s ease;
    display: inline-block;
    font-family: 'Poppins', sans-serif;
    border: none;
}

.menu-1 {
    padding: 5px 15px;
    background-color: transparent;
    line-height: 1.5;
    border-radius: 30px;
    transition: all 0.3s ease;
    font-family: 'Poppins', sans-serif;
    border: none;
}


.btn-1:after {
    border-radius: 30px;
}

.effect-wrap .effect {
    position: absolute;
    z-index: -1;
}

.effect-1 {
    width: 50px;
    height: 50px;
    border: 4px solid var(--skin-color);
    right: 10%;
    bottom: 10%;
    animation: spin 10s linear infinite;
}


.effect-2 {
    left: 3%;
    bottom: 18%;
    width: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    animation: topBounce 3s ease-in-out infinite;
}

.effect-2 div {
    height: 3px;
    width: 3px;
    background-color: #ff9c07;
    margin: 0 3px 8px;
}


.effect-3  {
    left: -22%;
    top: 3%;
    width: 100%;
}

.effect-4 {
    height: 50px;
    width: 50px;
    right: 5%;
    top: 20%;
    display: flex;
    justify-content: space-between;
    border-radius: 50%;
    overflow: hidden;
    animation: spin 10s linear infinite;

}
.effect-4 div {
    width: 1px;
    background-color: var(--skin-color);
    height: 100%;
}

@keyframes glow {

    40% {
        color: var(--text-black-900);
        font-size: 19px;

    }

    


}

@keyframes leftBounce {

    0%,
    100% {
        transform: translateX(0);
    }

    50% {
        transform: translateX(25px);
    }
}


@keyframes topBounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(25px);
    }
}


@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes fadeInTop {
    0% {
        opacity: 0;
        transform: translateY(-25px);
    }

    100% {
        opacity: 1;
        transform: translateY(360deg);
    }
}
@keyframes fadeOut {
    0% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.section-title {
    padding: 0 15px;
    flex: 0 0 100%;
    text-align: center;
    margin-bottom: 60px;
}

.section-title h2 {
    display: inline-block;
    font-size: 30px;
    font-weight: 700;
    color: var(--text-black-900);
    text-transform: capitalize;
    margin: 0;
    font-family: 'Ubuntu', sans-serif;

}

.section-title h2:before {
    content: attr(data-heading);
    display: block;
    font-size: 20px;
    font-weight: 600;
    color: var(--skin-color);
    text-transform: capitalize;
    font-family: 'Dancing script', sans-serif;
}

.scroll-up-btn{
    position: fixed;
    height: 43px;
    width: 40px;
    background: var(--skin-color);
    right: 10px;
    bottom: 10px;
    text-align: center;
    line-height: 45px;
    color: var(--bg-black-50);
    z-index: 99;
    font-size: 30px;
    border-radius: 6px;
    border-bottom-width: 2px;
    cursor: pointer;
    opacity: 0;
    pointer-events: none;
    transition: all 0.3s ease;
}
.scroll-up-btn.show{
    bottom: 20px;
    opacity: 1;
    pointer-events: auto;
}
.scroll-up-btn:hover{
    filter: brightness(90%);
}

/*preloader start*/
.preloader{
    position: fixed;
    background: red;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1500;
    background-color:  var(--bg-black-50);
    display: flex;
    align-items: center;
    justify-content: center;
}
.preloader.fade-out{
    opacity: 0;
    transition: all 0.6s ease;
}
.preloader .box{
    width: 65px;
    display: flex;
    flex: wrap;
    justify-content: space-between;
}

.preloader .box div{
    height: 15px;
    width: 15px;
    background-color: var(--skin-color);
    border-radius:  50%;
    animation: loaderAni 1s ease infinite;
}
.preloader .box div:nth-child(2){
    animation-delay: 0.1s;
}
.preloader .box div:nth-child(3){
    animation-delay: 0.2s;
}
@keyframes loaderAni{
    0%,100%{
        transform: translateY(0);
        }50%{
            transform: translateY(-30px);
        }

    }

/* -----------
header
--------- */
.header {
    padding: 5px 15px;
    position: absolute;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 99;
    position: fixed;
    transition: all 0.3s ease;

}
.header.sticky{
    padding: 9px 0;
    background-image: linear-gradient(-180deg, #161616 10%, #2b2c2f 90%);
    border:var(--skin-color);
}

.header .row{
    align-items: center;
}
.header .logo{
    display: flex;
    align-items: center;
}

.header .logo a{
    color: var(--skin-color);
    font-size: 35px;
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}
.header .list-menu{
    display: flex;
    align-items: center;


}
.header .list-menu .menu-1 {

    font-family: 'Poppins', sans-serif;
}
.header .list-menu .menu-1 li a{
    padding: 5px 15px;
    display: block;
    color: var(--text-black-900);
    font-size: 16px;
    font-weight: 500;
    margin-left: 15px;
    transition: color 0.3s ease;
    font-family: 'Poppins', sans-serif;
}

header .container .list-menu ul li a.active{
    background-color: transparent;
    font-size: 17px;
    line-height: 1.5;
    border-radius: 30px;
    transition: all 0.3s ease;
    box-shadow: var(--outer-shadow);
    color: var(--skin-color);
    border-radius: 30px;
}




.header .menu-1 li,
.header .menu-2 li{
    list-style: none;
    display: inline-block;
}


.header .menu-2 li a{
    display: block;
    color: var(--text-black-900);
    font-size: 16px;
    font-weight: 500;
    margin-left: 5px;
    transition: color 0.3s ease;
}

.header .menu-2 li a:after{
    border-radius: 30px;
}

.header .menu li a:hover,
.header .menu-2 li a:hover{
    color: var(--skin-color);
}
.header.sticky .menu li a:hover,
.header.sticky .menu-2 li a:hover{
    color: var(--skin-color);
}

/*-------------
home-section
--------------- */
.home-section {
    position: relative;
}


.home-section .full-screen { 
    padding: 0 0;
    min-height: 100vh;
}

.home-section .home-text,
.home-section .home-img {
    flex: 0 0 50%;
    max-width: 50%;
    padding: 0 15px;
}



.home-section .home-text h1 {
    font-size: 24px;

    color: var(--text-yellow-600);
    text-transform: capitalize;
    font-family: 'Ubuntu', sans-serif;
}
.home-section .home-text span {
    color: var(--text-black-900);
    
}
.home-section .home-text h1 span.typing {
    color: var(--text-yellow-600);
    font-family: 'Ubuntu', sans-serif;
}

.home-section .home-text h2 {
    font-size: 64px;
    font-weight: 700;
    color: var(--text-black-900);
    margin: 20px 0;
    font-family: 'Ubuntu', sans-serif;
    
}

.home-section .home-text h4 {
    font-size: 16px;
    color: var(--text-black-900);
    font-family: 'Poppins', sans-serif;
    margin: 0;
    text-transform: capitalize;

}

.home-section .home-text h4 span {
    font-size: 18px;
    font-weight: 500;
    color: var(--skin-color);
    margin: 0;
    font-family: 'Ubuntu', sans-serif;
}

.home-section .home-text .btn-1 {
    margin-top: 30px;
}

.home-section .home-img .img-box {
    max-width: 450px;
    display: block;
    margin: auto;
    border-radius: 50%;
    padding: 15px;
}

.home-section .home-img .img-box img {
    width: 100%;
    border-radius: 50%;
    border: 10px solid transparent;
}












/* -----------
About section
-------------- */

.about-section {
    padding: 80px 0 50px;
    min-height: 100vh;
}

.about-section .about-img {
    flex: 0 0 40%;
    max-width: 40%;
    padding: 0 15px;
}

.about-section .about-img .img-box {
    padding: 15px;
    border-radius: 5px;
}

.about-section .about-img .img-box iframe {
    width: 100%;
    height: 350px;
    border: 10px solid transparent;
    border-radius: 5px;
}

.about-section .about-img .social-links {
    margin-top: 20px;
    text-align: center;
}

.about-section .about-img .social-links a {
    width: 40px;
    height: 40px;
    display: inline-block;
    font-size: 16px;
    text-align: center;
    margin: 0 4px;
    border-radius: 50%;
    color: var(--text-black-600);
    transition: all 0.3s ease;
}

.about-section .about-img .social-links a:after {
    border-radius: 50%;
}

.about-section .about-img .social-links a:hover {
    color: var(--skin-color);
}

.about-section .about-img .social-links i {
    line-height: 40px;
}

.about-section .about-img .social-links a.facebook:hover {
    color: #4267B2;
    font-size: 22px;
}

.about-section .about-img .social-links a.instagram:hover {
    font-size: 20px;
    color: #ffff;
}

.about-section .about-img .social-links a.instagram:hover:before {
    background-repeat: repeat;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    content: '';
    position: absolute;
    left: 20%;
    top: 20%;
    border-radius: 30%;
    width: 60%;
    height: 60%;
    transition: all 0.3s ease;
    z-index: -2;
}

.about-section .about-img .social-links a.twitter:hover {
    color: #1DA1F2;
    font-size: 22px;
}

.about-section .about-img .social-links a.linkedin:hover {
    color: #0077b5;
    font-size: 22px;
}

.about-section .about-info {
    max-width: 60%;
    flex: 0 0 60%;
    padding: 0 15px;
}

.about-section .about-info .text {
    font-size: 25px;
    font-family: 'Ubuntu', sans-serif;
    text-transform: capitalize;
    margin-bottom: 15px;
    color: var(--text-black-600);

}

.about-section .about-info .text span {
    color: var(--skin-color);
    font-weight: 600;
    font-family: 'Ubuntu', sans-serif;
}

.about-section .about-info p {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 15px;
    text-align: justify;
    color: var(--text-black-600);
}

.about-section .about-info .btn-1 {
    margin: 30px 20px 0 0;
}




/* ------------
Portfolio section
--------------- */

.portfolio-section {
    padding: 80px 0 50px;
    min-height: 100vh;
}

.portfolio-section .section-title {
    margin-bottom: 40px;
}

.portfolio-section .portfolio-filter {
    padding: 0 15px;
    flex: 0 0 100%;
    max-width: 100%;
    text-align: center;
    margin-bottom: 20px;
}
.portfolio-section .portfolio-filter  span button{
    background: none;
    border: none;
    padding: 10px;
    font-size: 20px;
}
.portfolio-section .portfolio-filter .filter-item button i {
    color: var(--skin-color);
    cursor: pointer;
}

.portfolio-section .filter-item {
    display: inline-block;
    margin: 0 5px 10px;
    padding: 5px 10px;
    border-radius: 30px;
    cursor: pointer;
    color: var(--text-black-600);
    text-transform: capitalize;
    font-size: 16px;
    transition: all 0.3s ease;
}

.portfolio-section .filter-item:hover:not(.active) {
    opacity: 0.6;
}

.portfolio-section .filter-item.active {
    color: var(--skin-color);
    font-size: 18px;
}

.portfolio-section .portfolio-item {
    flex: 0 0 33.33%;
    padding: 15px;
    max-width: 33.33%;
    display: flex;
    flex-wrap: wrap;

}

.portfolio-section .portfolio-item.hide {
    display: none;
}

.portfolio-section .portfolio-item.show {
    display: block;
    animation: fadeInTop 0.5s ease;
}

.portfolio-section .portfolio-item-inner {
    padding: 15px;
    border: 5px;
    cursor: pointer;
    width: 100%;

}

.portfolio-section .portfolio-item-img img {
    border-radius: 5px;
    width: 100%;
    transition: all 0.3s ease;
}

.portfolio-section .portfolio-item-inner:hover .portfolio-item-img img {
    transform: translateY(-25px);
}

.portfolio-section .portfolio-item-img {
    position: relative;
}

.portfolio-section .portfolio-item-img .view-project {
    text-transform: capitalize;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-900);
    transition: all 0.3s ease;
    position: absolute;
    left: 0;
    bottom: -4px;
    transform: translateY(-5px);
    z-index: -1;
    opacity: 0;
    animation: glow 1s infinite linear;
}


.portfolio-section .portfolio-item-inner:hover .view-project {
    transform: translateY(0px);
    opacity: 1;
}

.portfolio-section .portfolio-item-details {
    display: none;
}

.portfolio-section .portfolio-item-inner p {
    font-size: 16px;
    margin: 10px 0 0;
    color: var(--text-black-600);
    text-transform: capitalize;
}

.portfolio-section .input-control{
    background: none;
    outline: none;
    border: none;
    line-height: 1;
    font-weight: 600;
    font-size: 16px;
    color: #acacac;
    padding: 0 15px;
    background-color: transparent;
    border-radius: 30px;
    font-family: 'Poppins', sans-serif;
}

.portfolio-section  .portfolio-display h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    text-transform: capitalize;
}

.portfolio-section  .portfolio-display p span {
    font-size: 20px;
    font-weight: 600;
    color: var(--skin-color);
    text-transform: capitalize;
}

.portfolio-section .harga {
    width: 100%;
    justify-content: space-between;
    display: flex;
}
.portfolio-section .harga-awal  {
    font-weight:300;
    text-decoration:line-through;
    padding-left:1em;
    color: var(--text-black-700);
}









/* --------
portfolio popup
----------- */
.portfolio-popup {
    background-color: var(--bg-black-50);
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1000;
    overflow-y: scroll;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s ease;
}

.portfolio-popup.open {
    visibility: visible;
    opacity: 1;
}

.portfolio-popup .pp-loader {
    position: fixed;
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    z-index: 1005;
    background-color: var(--bg-opacity);
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    opacity: 0;
}

.portfolio-popup .pp-loader.active {
    visibility: visible;
    opacity: 1;
}

.portfolio-popup .pp-loader div {
    height: 40px;
    width: 40px;
    border: 3px solid var(--skin-color);
    border-radius: 50%;
    border-right: 3px solid transparent;
    animation: spin 2s linear infinite;
}

.portfolio-popup .pp-details {
    max-width: 1350px;
    width: calc(85% + 30px);
    margin: auto;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.5s ease;
}

.portfolio-popup .pp-details.active {
    opacity: 1;
}

.portfolio-popup .pp-title {
    padding: 0 15px;
}

.portfolio-popup .pp-title h2 {
    font-size: 28px;
    color: var(--text-black-900);
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 0 5px;
}
.portfolio-popup .pp-title h1 {
    font-size: 40px;
    color: var(--skin-color);
    text-transform: capitalize;
    font-weight: 600;
    margin: 0 0 5px;
}

.portfolio-popup .pp-title p {
    font-size: 14px;
    font-weight: 600;
    color: var(--text-black-600);
    margin: 0 0 15px;
    border-bottom: 1px solid var(--bg-black-100);
    padding-bottom: 10px;
}

.portfolio-popup .pp-title p span {
    font-weight: 400;
    text-transform: capitalize;
}

.portfolio-popup .pp-project-details h3 {
    font-size: 20px;
    font-weight: 600;
    color: var(--text-black-700);
    margin: 0 0 15px;
    text-transform: capitalize;
}

.portfolio-popup .description {
    flex: 0 0 65%;
    max-width: 65%;
    padding: 0 15px;
}

.portfolio-popup .description p {
    font-size: 16px;
    color: var(--text-black-600);
    line-height: 26px;
    margin: 0;
}

.portfolio-popup .info table tr th{
    font-weight: 600;
    color: var(--text-black-600);
}
.portfolio-popup .info table tr {
    font-weight: 600;
    color: var(--text-black-600);
}


.portfolio-popup .info {
    flex: 0 0 35%;
    max-width: 35%;
    padding: 0 15px;
}

.portfolio-popup .info ul li {
    display: block;
    margin-bottom: 10px;
    font-weight: 600;
    color: var(--text-black-600);
}
.portfolio-popup .info a {
    font-weight: 400;
    color: var(--skin-color);
}
.portfolio-popup .info ul li span {
    font-weight: 400;
}

.portfolio-popup .info ul li a {
    color: var(--skin-color);
}

.portfolio-popup .info ul li:last-child {
    margin-bottom: 0;
}

.portfolio-popup .pp-details-inner {
    padding: 30px 0;
}


.portfolio-popup .separator {
    height: 1px;
    width: 100%;
    display: block;
    background-color: var(--bg-black-100);
}

.portfolio-popup .pp-img {
    max-width: 100%;
    width: auto;
    height: auto;
    padding: 10px;
    border-radius: 5px;
}

.portfolio-popup .pp-main {
    min-height: 100vh;
    max-width: 1350px;
    width: 85%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.portfolio-popup .pp-main-inner {

    padding: 70px 0 50px;
    position: relative;
}

.portfolio-popup .pp-project-details-btn {
    position: absolute;
    left: 0;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
    color: var(--text-black-600);
    top: 15px;
    cursor: pointer;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease;
}

.portfolio-popup .pp-project-details-btn i {
    margin-left: 4px;
}

.portfolio-popup .pp-project-details-btn:after {
    border-radius: 30px;
}

.portfolio-popup .pp-project-order-btn {
    position: absolute;
    left: 50%;
    border-radius: 30px;
    top: 15px;
    cursor: pointer;
    padding: 0 15px;
    height: 40px;
    line-height: 40px;
    transition: all 0.3s ease;
}


.portfolio-popup .pp-project-order-btn a{

    font-size: 16px;
    font-weight: 500;
    color: var(--skin-color);
    top: 15px;

}

.portfolio-popup .pp-project-order-btn i {
    margin-left: 4px;
}

.portfolio-popup .pp-project-order-btn:after {
    border-radius: 30px;
}













.portfolio-popup .pp-close {
    position: absolute;
    right: 0;
    border-radius: 50%;
    height: 40px;
    width: 40px;
    top: 15px;
    text-align: center;
    line-height: 35px;
    font-size: 35px;
    color: var(--text-black-600);
    cursor: pointer;
    transition: all 0.3s ease;
}

.portfolio-popup .pp-close:after {
    border-radius: 50%;
}

.portfolio-popup .pp-counter {
    position: absolute;
    right: 0;
    height: 40px;
    line-height: 40px;
    bottom: 5px;
    font-size: 16px;
    color: var(--text-black-600);
}

.portfolio-popup .pp-prev,
.portfolio-popup .pp-next {
    position: fixed;
    top: 50%;
    height: 40px;
    width: 40px;
    text-align: center;
    font-size: 20px;
    cursor: pointer;
    z-index: 1010;
    color: var(--text-black-900);
    transition: all 0.3s ease;
    opacity: 0.5;
}

.portfolio-popup .pp-prev:hover,
.portfolio-popup .pp-next:hover {
    opacity: 1;
}

.portfolio-popup .pp-prev i,
.portfolio-popup .pp-next i {
    line-height: 40px;
}

.portfolio-popup .pp-prev i {
    transform: rotate(180deg);
}

.portfolio-popup .pp-prev {
    left: 15px;
}

.portfolio-popup .pp-next {
    right: 15px;
}



/* ------------
testimonial section
---------------- */

.testimonial-section{
    padding: 80px 0 80px;
    min-height: 100vh;
}

.testimonial-section .testi-box{
    width: 100%;
    max-width: 600px;
    margin: auto;
    padding: 0 15px;
}
.testimonial-section .testi-slider{
    border-radius: 5px;
    overflow: hidden;
}
.testimonial-section .testi-slider-container{
    display: flex;
    transition: margin 1s ease;
    align-items: center;
}

.testimonial-section .testi-item{
    padding: 30px;
    text-align: center;
    position: relative;
}

.testimonial-section .testi-item i{
    position: absolute;
    font-size: 30px;
    color: var(--text-black-600);
    opacity: 0.1;
}

.testimonial-section .testi-item i.left{
    left: 5px;
    top: 0;
}
.testimonial-section .testi-item i.right{
    right: 5px;
    bottom: 0;
}
.testimonial-section .testi-item p{
    font-size: 16px;
    line-height: 26px;
    color: var(--text-black-600);
    margin: 0 0 30px;
}
.testimonial-section .testi-item img{
    max-width: 70px;
    display: inline-block;
    width: 100%;
}

.testimonial-section .testi-item span{
    display: block;
    margin: 10px 0 0;
    font-weight: 600;
    font-size: 16px;
    color: var(--text-black-700);
    text-transform: capitalize;
}
.testimonial-section .testi-slider-nav{
    margin-top: 30px;
    text-align: center;
}
.testimonial-section .testi-slider-nav span{
    height: 40px;
    width: 40px;
    color: var(--skin-color);
    display: inline-block;
    font-size: 20px;
    cursor: pointer;
    transition: all 0.3s ease;
    border-radius: 50%;
    margin: 0 4px;
}
.testimonial-section .testi-slider-nav span:after{
    border-radius: 50%;
}
.testimonial-section .testi-slider-nav span i{
    line-height: 40px;
}





/* --------------
contact section
----------------- */

.footer-section{
    background-color: #242527;
    padding: 70px 0;

}
.footer-section .container{
    max-width: 1170px;
    margin: auto;
}

.footer-col{
    width: 25%;
    padding: 0 15px;
}
.footer-col h4{
 font-size: 25px;
 color: #ffffff;
 text-transform: capitalize;
 margin-bottom: 35px;
 font-weight: 500;
 position: relative;
 font-family: 'Ubuntu', sans-serif;
}
.footer-col h4::before{
 content: '';
 position: absolute;
 left:0;
 bottom: -10px;
 background-color: #e91e63;
 height: 2px;
 box-sizing: border-box;
 width: 50px;
}
.footer-col ul li:not(:last-child){
 margin-bottom: 10px;
}
.footer-col ul li a{
 font-size: 16px;
 text-transform: capitalize;
 color: #ffffff;
 text-decoration: none;
 font-weight: 300;
 color: #bbbbbb;
 display: block;
 transition: all 0.3s ease;
}
.footer-col ul li a:hover{
 color: #ffffff;
 padding-left: 8px;
}
.footer-col .social-links a{
 display: inline-block;
 height: 40px;
 width: 40px;
 margin:0 10px 10px 0;
 text-align: center;
 line-height: 40px;
 border-radius: 50%;
 color: #ffffff;
 transition: all 0.5s ease;
}

.footer-col .social-links a:after {
    border-radius: 50%;
}

.footer-col .social-links a:hover {
    color: var(--skin-color);
}

.footer-col .social-links i {
    line-height: 40px;
}

.footer-col .social-links a.facebook:hover {
    color: #4267B2;
    font-size: 22px;
}

.footer-col .social-links a.instagram:hover {
    font-size: 20px;
    color: #ffff;
}

.footer-col .social-links a.instagram:hover:before {
    background-repeat: repeat;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    content: '';
    position: absolute;
    left: 20%;
    top: 20%;
    border-radius: 30%;
    width: 60%;
    height: 60%;
    transition: all 0.3s ease;
    z-index: -2;
}

.footer-col .social-links a.twitter:hover {
    color: #1DA1F2;
    font-size: 22px;
}

.footer-col .social-links a.linkedin:hover {
    color: #0077b5;
    font-size: 22px;
}


.footer-col .contact .text{
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 10px;
    color: var(--text-black-900);
}

.footer-col .contact .row{
    align-items: center;
}
.footer-col .contact .icons .row{
    width: 100%;
    padding: 0 0 15px;
    position: relative;
    display: flex;
    flex-wrap: flex;
    margin: auto;
    
}
.footer-col .contact .row i{
    width: 50px;
    height: 50px;
    position: relative;
    padding: 10px;
    display: inline-block;
    line-height: 30px;
    font-size: 30px;
    color: var(--skin-color);


}
.footer-col .contact .info{

    width: 70%;
    
    
}
.footer-col .contact .info .head{
    color: var(--text-black-900);
    font-weight: 500;
    
    

}
.footer-col .contact .info .sub-title{
    color: var(--text-black-600);

    
}




footer{
    background-color: #1b1c1d;
    padding: 15px 38px;
    color: #fff;
    font-family: 'Ubuntu', sans-serif;
    
}
footer span a{
    font-weight: 500;
    font-size: 30px;
    color: var(--skin-color);
    text-decoration: none;
    font-family: 'dancing script', sans-serif;
}
footer span a:hover{
    text-decoration: underline;
}



